name: Flutter Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Create Clean Project and Move Files
        run: |
          # لاحظ هنا استخدمنا نفس اسم مشروعك House
          # إذا استمر الخطأ 64، يفضل تغيير الاسم في pubspec إلى house (صغير) وتغييره هنا أيضاً
          flutter create --project-name House temp_app
          
          # نقل ملفاتك الثلاثة
          cp pubspec.yaml temp_app/pubspec.yaml
          cp main.dart temp_app/lib/main.dart
          cp AndroidManifest.xml temp_app/android/app/src/main/AndroidManifest.xml
          
          cd temp_app
          flutter pub get

      - name: Build APK
        run: |
          cd temp_app
          flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: House-App-Release
          path: temp_app/build/app/outputs/flutter-apk/app-release.apk
